@model Festival.Model.Band

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Band</legend>
    <div>
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-field-picture" style="float:right">
        <img src="@Html.DisplayFor(model => model.Picture)" alt="@Html.DisplayFor(model => model.Name)" />
    </div>

    <div class="display-label">
        Beschrijving:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-field">
        <a href="@Html.DisplayFor(model => model.Twitter)">Twitter</a>
    </div>

    <div class="display-field">
        <a href="@Html.DisplayFor(model => model.Facebook)">Facebook</a>
        
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
