@model IEnumerable<Festival.Model.Ticket>

@{
    ViewBag.Title = "Lijst tickets";
}

<h2>Lijst tickets</h2>

<p>
    @Html.ActionLink("Boek een ticket", "Index")
</p>

<table>
    <tr>
        <th>
            Naam
        </th>
        <th>
            Emailadres
        </th>
        <th>
            Aantal
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ticketholder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketholderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
    </tr>
}

</table>
